.header {
  text-align: center;
  padding: 4rem 1rem;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
